<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>供应商基本信息</title>
		<script src="../../../lib/css/loadcssfile.js"></script>
		<link rel="stylesheet" href="../../style/base.css" />
		<link rel="stylesheet" href="../../style/gysgl/gysgl.css" />
	</head>

	<body ng-app="gys_jbxxModule" ng-controller="gys_jbxxCtrl" ng-init="init()">
		<div id="grid"></div>
	</body>
	<script src="../../../lib/js/loadjsfile.js"></script>
	<script src="../../modules/gysgl/gys_jbxx.module.js"></script>

</html>