<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>供应商管理</title>
		<script src="../../../lib/css/loadcssfile.js"></script>
		<link rel="stylesheet" href="../../style/base.css" />
		<link rel="stylesheet" href="../../style/gysgl/gysgl.css" />
	</head>

	<body ng-app="gysglModule" ng-controller="gysglCtrl" ng-init="init()">
		<div><span>公司编号：GYS7438472972</span><span>审核状态：通过</span></div>
		<div>公司名称：厦门市永诚鑫塑胶有限公司</div>
		<div id="tabstrip">
			<ul>
				<li id="tab1">基本信息</li>
				<li>财务&票务相关</li>
				<li>证照信息</li>
				<li>供应商详情</li>
				<li>商品报价</li>
				<li>合同信息</li>
				<li>业务往来</li>
				<li>跟踪日志</li>
				<li>考察报告&审核</li>
				<li>操作日志</li>
			</ul>
			<div><iframe data-code="" src="gys_jbxx.html"></iframe></div>
			<div><iframe data-code="" src="gys_cwpwxg.html"></iframe></div>
			<div><iframe data-code="" src="gys_zzxx.html"></iframe></div>
			<div><iframe data-code="" src="gys_details.html"></iframe></div>
			<div><iframe data-code="" src="gys_spbj.html"></iframe></div>
			<div><iframe data-code="" src="gys_htxx.html"></iframe></div>
			<div><iframe data-code="" src="gys_ywwl.html"></iframe></div>
			<div><iframe data-code="" src="gys_gzrz.html"></iframe></div>
			<div><iframe data-code="" src="gys_kcbgsh.html"></iframe></div>
			<div><iframe data-code="" src="gys_czrz.html"></iframe></div>
	</body>
	<script src="../../../lib/js/loadjsfile.js"></script>
	<script src="../../modules/gysgl/gysgl.module.js"></script>

</html>