<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>提成说明</title>
		<link rel="stylesheet" href="../../style/base.css" />
		<link rel="stylesheet" href="../../style/jxgl/jxsm.css" />
	</head>

	<body>

		<h1>提成核算及审批流程说明</h1>

		<div class="content1">
			<p class="title"><span>一 提成核算说明：</span></p>
			<p class="c1">1.0  订单明细中字段及来源：</p>
			<p class="c2">1.1 计算数据：到期时间、毛利、核算账期、总提成、bd提成、bd部门提成、bd费用池子、PM、供应链</p>
			<p class="c2">1.2 填写数据：其他费用、备注信息</p>
			<p class="c2">1.3 读取数据：除以上数据之外的数据</p>
			<p class="c1">2.0  计算数据说明</p>
			<p class="c2">2.1 到期时间=订单应收核算时间+账期</p>
			<p class="c3">2.1.1 订单应收核算时间：生产单和备库单、其他类型按供应商接单时间算、设计单按文件检查合格时间算、出库单按下单时间算</p>
			<p class="c3">2.1.2 账期：读取系统中记录的客户账期，目前有7天、1个月、2个月、3个月。非账期客户和小于一个月的账期默认账期均为1个月</p>
			<p class="c2">2.2 毛利=已回款金额-（承印费四项合计+物流费用+其他费用）</p>
			<p class="c2">2.3 核算账期：订单的到期时间和实际回款时间的差值在账期内的，核算账期为100%，超过1个月的，核算账期为80%，以此类推，直到为0.</p>
			<p class="c3">例如：某非账期客户生产单11月27日下单，11月28日供应商接单，账期到期时间为12月31日。订单如果在12月31日前标记收款，则核算账期为100%。</p>
			<p class="c2">2.4 总提成：按照订单所属客户的提成类型来核算提成（客户提成类型为李总确认）</p>
			<p class="c3">2.4.1 提成类型是“毛利30%”：提成=（订单的已收全款金额-订单承印费合计-订单的物流费用-其他费用）*30%*核算账期</p>
			<p class="c3">2.4.2 提成类型是“流水2%”：提成=订单已收全款金额*2%*核算账期</p>
			<p class="c3">2.4.3 提成类型是“流水3%”：提成=订单已收全款金额*3%*核算账期</p>
			<p class="c3">2.4.4  提成类型是“不提成”：提成=0</p>
			<!--<p class="c2">2.5 bd提成=总提成*1/3</p>
			<p class="c2">2.6 bd部门提成=总提成*1/6</p>
			<p class="c2">2.7 bd费用池子=总提成*1/6</p>
			<p class="c2">2.8 PM=总提成*1/6</p>
			<p class="c2">2.9 供应链=总提成*1/6</p>-->
			<p class="c1">3.0 填写数据说明：</p>
			<p class="c2">其他费用：用来记录包括佣金、估算费用等在内的各种影响提成的金额。</p>
			<p class="c2">如果订单类型是毛利30%，则：</p>
			<p class="c2">3.1 如果是生产单没有承印费四项合计，则按照订单金额的90%核算后填写到其他费用中</p>
			<p class="c2">3.1 如果是生产单没有承印费四项合计，则按照订单金额的90%核算后填写到其他费用中</p>
			<p class="c2">3.3 对于物流解决方案不是外协厂送客户的生产单和出库单，如没有物流费，则按照订单金额的10%估算后，填写到其他费用中。如订单是免单，没有订单金额，则按照承印费四项合计的10%估算后，填写到其他费用中</p>
			<p class="c2">3.4 如果订单从名称上判断是补收款单，需要追查是哪个订单的收款，如原单有成本，则本单也要判断是否需要录入其他费用。录入后，如部门有异议可申诉。</p>
			<p class="c2">3.5 如果订单走oa申请过佣金或回扣，则记录到其他费用中.</p>
			<p class="c1">4.0 读取数据说明</p>
			<p class="c2">读取数据均根据订单编号读取b系统中记录的数据</p>
			<p class="c1"><span style="background: #C5E4C9;float: left;padding-left:5px;">5.0 其他说明</span> </p>
			<p class="c2"><span style="background: #C5E4C9;float: left;">5.1 订单明细页面会记录数据保存时间，保存时间之后在b系统中修改的任何数据，不会同步到提成系统中，除非再次点击刷新。当月提成确认后，刷新按钮将关闭。</span></p>
			<p class="c2"><span style="background: #C5E4C9;float: left;">5.2 订单明细页面橘色背景的数据表示：订单下单bd所在部门和客户所属部门不一致或下单bd为空。</span></p>
			<p class="c2"><span style="background: #C5E4C9;float: left;">5.3 在部门提成页面，选择数据后，可点击分配按钮进行分配。分配页面的bd提成按订单数据自动核算。部门负责人可对各项提成金额进行分配，可新增被分配人。</span> </p>
			<p class="title" style="margin-top: 30px;float: left;"><span>二、提成核算发放流程：</span></p>
			<p class="c2">( 时间以实际发生时间为准，比如，领导出差不在无法签字等 ) ：</p>
			<p class="c2"> 第一步： 每月初开始统计上月回款订单的毛利，由供应链部门将订单相应的承印费和物流费录入系统，由倪佳负责将各部门费用录入系统；电商平台将上月已稳定数据录入系统---------16天左右</p>
			<p class="c2">第二步： 王丽珍核对所有数据：---2天</p>
			<p class="c2">第三步：财务核对所有数据：包括审核系统中已付款金额是否准确、电商数据是否准确----3天</p>
			<p class="c2">第四步：李总核对确认数据----1天</p>
			<p class="c2">第五步：王丽珍通知各部门进行查看、分配，如有异议，进行审批调整-----5天内不反馈分配名单视为放弃，分配按钮将关闭</p>
			<p class="c2">第六步：各部门分配结束后，王丽珍汇总后报给李总审批-----1天</p>
			<p class="c2">第七步：李总审批后发到人事部备案，人事部走审批流程相关领导审核确认签字------2天</p>
			<p class="c2">第八步：人事部备案并同步财务及相关人员发放金额-------2天</p>
			<p class="c2">第九步：部门人员收到人事部通知后，走流程领取提成。</p>
		</div>

	</body>

</html>