body {
	border: 0px;
	margin: 0px;
	padding: 0px;
	min-width: 960px;
}

.query_conditions {
	float: left;
	width: 98%;
	margin-left: 1%;
	margin-top: 10px;
}

.fieldlist p {
	float: left;
	height: 30px;
	margin-top: 15px;
	margin-right: 30px;
}

.fieldlist input {
	width: 200px;
	height: 29px;
}

.fieldlist label {
	width: 90px;
	text-align: right;
	height: 30px;
	line-height: 30px;
}

.operation {
	float: left;
	width: 98%;
	margin: 25px 0 0 1%;
}

.operation button {
	float: right;
	margin-left: 10px;
}

.contnet {
	float: left;
	width: 98%;
	margin: 30px 0 50px 1%;
}

#bcqtxx_window textarea {
	width: 300px;
	height: 100px;
	resize: none;
	margin-left: 3px;
}

#bcqtxx_window input {
	width: 300px;
}

#bcqtxx_window button {
	width: 90px;
}

.editValidMsg1 {
	width: 120px;
	margin-left: 30px;
}

.k-grid-header {
	padding-right: 0px;
}

.k-grid-content {
	overflow-y: hidden;
}


/*滚动条美化*/


/*整体部分*/

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}


/*滑动轨道*/

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
	border-radius: 0px;
	background: rgba(0, 0, 0, 0.1);
}


/*滑块*/

::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
	background: rgba(0, 0, 0, 0.2);
}


/*滑块效果*/

::-webkit-scrollbar-thumb:hover {
	/*border-radius: 8px;*/
	-webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
	background: rgba(0, 0, 0, 0.4);
}


/*滚动条美化结束*/

.progress {
	height: 5px;
}

.caoz {
	float: left;
	width: 100%;
	text-align: center;
}

.caoz button {
	width: 100px;
}

.fieldlist1 {
	float: left;
	width: 100%;
	height: 200px;
	margin-top: 15px;
	margin-right: 30px;
}

.fieldlist1 span {
	width: 100%;
	float: left;
	height: 60px;
	text-align: center;
	line-height: 60px;
	font-size: 17px;
	color: #999;
}

#file-list {
	float: left;
	height: 30px;
	width: 90%;
	margin-top: 20px;
}


/*下拉树*/

.down_tree {
	float: left;
	width: 360px;
	margin-top: 15px;
}

.down_tree label {
	float: left;
	width: 90px;
}

.down_tree input {
	float: left;
	width: 150px;
}

.down_tree button {
	float: left;
	width: 55px;
	line-height: 20px;
	height: 30px;
	text-align: center;
	cursor: pointer;
}

#bm {
	float: left;
	width: 264px;
}

.multiselectContent {
	float: left;
	width: 255px;
	height: 330px;
	border: 1px solid #777;
	margin-top: 30px;
	background: #F1F1F1;
	position: absolute;
	z-index: 9999;
	display: none;
	overflow: auto;
	background: rgba(255, 255, 255, 0.9);
	filter: alpha(opacity=90);
}

/*查看图片*/

.photo {
	width: 800px;
	margin: auto;
	display: none;
}

.picture {
	width: 800px;
	height: 400px;
	position: absolute;
	z-index: 9999;
	background: rgba(0, 0, 0, 0.5);
	filter: alpha(opacity=50);
	padding: 50px;
	margin: auto;
	text-align: center;
	margin-top: 10vh;
}

.picture img {
	width: auto;
	height: auto;
	max-width: 800px;
	max-height: 300px;
}

.picture span {
	float: right;
	color: white;
	font-size: 50px;
	cursor: pointer;
	margin-right: -35px;
	margin-top: -65px;
}