body {
	border: 0px;
	margin: 0px;
	padding: 0px;
}

.head {
	float: left;
	margin-top: 10px;
}

.year {
	float: left;
	margin: 10px 0px 0px 10px;
}

.year .btn {
	height: 30px;
	background: #878787;
	color: white;
	border: 0px;
}

.month {
	float: left;
	height: 30px;
	margin-top: 10px;
	margin-left: 10px;
	border-right: 1px solid #1EA4DD;
}

.month li {
	float: left;
	width: 70px;
	height: 30px;
	border: 1px solid #1EA4DD;
	border-right: 0px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
}

.dropdown-menu {
	border-radius: 0px;
	background: #777;
	color: white;
}

.dropdown-menu> li> a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: white;
	white-space: nowrap;
}

.dropdown-menu> li> a:hover,
.dropdown-menu> li> a:focus {
	color: #262626;
	text-decoration: none;
	background-color: #f5f5f5;
}

.hove {
	background: #1EA4DD;
	color: white;
	border: 0px;
}

.query_conditions {
	float: left;
	width: 98%;
	margin-left: 1%;
	margin-top: 10px;
}

.fieldlist p {
	float: left;
	height: 30px;
	margin-top: 15px;
	margin-right: 30px;
}

.fieldlist input {
	width: 200px;
	height: 29px;
}

.fieldlist label {
	width: 90px;
	height: 30px;
	line-height: 30px;
	text-align: right;
}

.operation {
	float: left;
	width: 98%;
	margin: 25px 0 0 1%;
}

.operation button {
	float: right;
	margin-left: 10px;
}

.contnet {
	float: left;
	width: 98%;
	margin: 25px 0 0 1%;
}

.k-grid-header{
	padding-right: 0px;
}
.k-grid-content{
	overflow-y: hidden;
}


/*滚动条美化*/


/*整体部分*/


::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}


/*滑动轨道*/


::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
	border-radius: 0px;
	background: rgba(0, 0, 0, 0.1);
}


/*滑块*/

::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
	background: rgba(0, 0, 0, 0.2);
}


/*滑块效果*/


::-webkit-scrollbar-thumb:hover {
	/*border-radius: 8px;*/
	-webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
	background: rgba(0, 0, 0, 0.4);
}


/*滚动条美化结束*/