body {
	margin: 0px;
	padding: 0px;
	font-family: "微软雅黑";
}
h1,
ul,
li,
p,
h3 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
a {
	color: #666;
}
a:hover,
a:focus {
	-moz-outline: none;
	text-decoration: none;
	color: #28b779;
	outline: none;
}
/*::-moz-selection {
	background-color: rgba(25, 167, 240, 0);
}
::selection {
	background-color: rgba(25, 167, 240, 0);
}*/
.container {
	width: 98%;
	margin: 0px auto;
	padding: 0px;
}
.navbar {
	min-width: 1200px;
	width: 100%;
	line-height: 40px;
	background: rgba(0, 0, 0, 0.4);
	filter: alpha(opacity=40);
	border: 0px;
}
.navbar h1 {
	float: left;
	width: 230px;
	margin: 0px;
	padding: 0px;
	height: 40px;
	color: whitesmoke;
	font-size: 20px;
	line-height: 40px;
	text-align: left;
}
#menu {
	float: right;
}
.one-level {
	float: left;
}
.dropdown a {
	color: #D4D4D4;
	font-size: 13px;
}
.dropdown-menu {
	border-top: 0px;
}
.navbar .glyphicon {
	margin-right: 7px;
	margin-left: -5px;
}
.dropdown:hover .menu-top {
	display: block;
}
.dropdown-submenu {
	top: 20;
	position: relative;
}
.dropdown-submenu > .dropdown-menu {
	top: 0;
	left: 100%;
	margin-left: -1px;
}
.dropdown-submenu:hover > .dropdown-menu {
	display: block;
}
.dropdown-submenu > a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #cccccc;
	margin-top: 5px;
	margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
	border-left-color: #ffffff;
}
.dropdown-submenu .pull-left {
	float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
	left: -100%;
	margin-left: 10px;
}
.chart_title {
	width: 100%;
	height: 35px;
	font-size: 15px;
	color: #555;
	line-height: 35px;
	background: #F7F8F9;
	text-align: center;
	border-bottom: 1px solid #E3E8ED;
	font-weight: inherit;
}
.chart_title i {
	float: right;
	cursor: pointer;
	font-size: 17px;
	margin: 8px 10px 0 0;
	color: #02BD85;
}
/*图表宽高*/

.chart {
	width: 100%;
	height: 300px;
}
/*环形图宽高*/

.ringChart {
	width: 100%;
	height: 400px;
}
/*地图宽高*/

#map {
	width: 100%;
	height: 400px;
}
.carousel-inner .item {
	width: 100%;
}
/*图表布局*/

.layout {
	float: left;
	width: 100%;
	height: 340px;
	border: 1px solid #ddd;
	background: #F9F9F9;
}
/*环形图布局*/

.ringlayout {
	width: 100%;
	height: 240px;
	margin: auto;
	border: 1px solid red;
}
/*地图布局*/

.maplayout {
	float: left;
	width: 100%;
	height: 450px;
}
#tables {
	padding: 10px;
}
.userphoto img {
	width: 19px;
	height: 19px;
}
#forms {
	width: 400px;
	height: 400px;
	margin: auto;
	background: whitesmoke;
	border: 1px solid #ccc;
}
#forms h1 {
	margin-top: 20px;
	margin-bottom: 40px;
	font-size: 20px;
}
.form-horizontal {
	width: 90%;
	margin: auto;
}
.dropdown-menu p {
	background: #444;
}
.btn-group > .btn:first-child,
.btn-group > .dropdown-toggle,
.alert {
	border-radius: 0px;
	background: whitesmoke;
	color: #666;
	outline: none;
	-moz-outline: none;
	text-align: center;
	height: 39px;
}
.btn-group > .btn:first-child:hover,
.btn-group > .dropdown-toggle:hover,
.alert:hover {} select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
.label,
.dropdown-menu,
.btn,
.well,
.progress,
.table-bordered,
.btn-group > .btn:last-child,
.btn-group > .btn:last-child,
.btn-group > .btn:first-child {
	border-radius: 0px;
}
.btn,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	display: inline-block;
}
.progress,
.progress-success .bar,
.progress .bar-success,
.progress-warning .bar,
.progress .bar-warning,
.progress-danger .bar,
.progress .bar-danger,
.progress-info .bar,
.progress .bar-info,
.btn,
.btn-primary {
	background-image: none;
	border: 0px;
}
.carousel {
	margin-bottom: 0px;
}
.label-important,
.badge-important {
	background: #f74d4d;
}
/*卡片背景色*/

.bg_lb {
	background: #27a9e3;
}
.bg_db {
	background: #2295c9;
}
.bg_lg {
	background: #28b779;
}
.bg_dg {
	background: #28b779;
}
.bg_ly {
	background: #ffb848;
}
.bg_dy {
	background: #da9628;
}
.bg_ls {
	background: #2255a4;
}
.bg_lo {
	background: #da542e;
}
.bg_lr {
	background: #f74d4d;
}
.bg_lv {
	background: #603bbc;
}
.bg_lh {
	background: #b6b3b3;
}
/* 卡片 */

.quick-actions_homepage {
	width: 100%;
	text-align: center;
	position: relative;
	float: left;
	margin-top: 10px;
}
.quick-actions,
.quick-actions-horizontal,
.quick-actions_homepage .quick-actions li {
	position: relative;
}
.quick-actions_homepage .quick-actions li .label {
	position: absolute;
	padding: 5px;
	top: -10px;
	right: -5px;
}
.stats-plain {
	width: 100%;
}
.quick-actions li,
.quick-actions-horizontal li {
	float: left;
	line-height: 18px;
	margin: 0 10px 10px 0px;
	padding: 0 10px;
}
.quick-actions li a:hover,
.quick-actions-horizontal li a:hover,
.quick-actions li:hover,
.quick-actions-horizontal li:hover {
	background: #2E363F;
}
.quick-actions li {
	min-width: 14%;
	min-height: 70px;
}
.quick-actions_homepage .quick-actions .span3 {
	width: 30%;
}
.quick-actions li,
.quick-actions-horizontal li {
	padding: 0;
}
.quick-actions li a {
	padding: 10px 30px;
}
.quick-actions-horizontal li a span {
	padding: 10px 12px 10px 10px;
	display: inline-block;
}
.quick-actions li a,
.quick-actions-horizontal li a {
	display: block;
	color: #fff;
	font-size: 14px;
	font-weight: lighter;
}
.quick-actions li a i[class^="icon-"],
.quick-actions li a i[class*=" icon-"] {
	font-size: 30px;
	display: block;
	margin: 0 auto 5px;
}
.quick-actions li:active {
	text-shadow: 0 1px 0 #fff;
	float: left;
}
/* 窗口小组件 */

.widget-box {
	background: none repeat scroll 0 0 #F9F9F9;
	border-left: 1px solid #CDCDCD;
	border-top: 1px solid #CDCDCD;
	border-right: 1px solid #CDCDCD;
	clear: both;
	margin-top: 16px;
	margin-bottom: 16px;
	position: relative;
}
.widget-box.widget-calendar,
.widget-box.widget-chat {
	overflow: hidden !important;
}
.accordion .widget-box {
	margin-top: -2px;
	margin-bottom: 0;
	border-radius: 0;
}
.widget-box.widget-plain {
	background: transparent;
	border: none;
	margin-top: 0;
	margin-bottom: 0;
}
.widget-title,
.modal-header,
.table th,
div.dataTables_wrapper .ui-widget-header {
	background: #efefef;
	border-bottom: 1px solid #CDCDCD;
	height: 36px;
}
.widget-title .nav-tabs {
	border-bottom: 0 none;
}
.widget-title .nav-tabs li a {
	border-bottom: medium none !important;
	border-left: 1px solid #DDDDDD;
	border-radius: 0 0 0 0;
	border-right: 1px solid #DDDDDD;
	border-top: medium none;
	color: #999999;
	margin: 0;
	outline: medium none;
	padding: 9px 10px 8px;
	font-weight: bold;
	text-shadow: 0 1px 0 #FFFFFF;
}
.widget-title .nav-tabs li:first-child a {
	border-left: medium none !important;
}
.widget-title .nav-tabs li a:hover {
	background-color: transparent !important;
	border-color: #D6D6D6;
	border-width: 0 1px;
	color: #2b2b2b;
}
.widget-title .nav-tabs li.active a {
	background-color: #F9F9F9 !important;
	color: #444444;
}
.widget-title span.icon {
	padding: 9px 10px 7px 11px;
	float: left;
	border-right: 1px solid #dadada;
}
.widget-title h5 {
	color: #666;
	float: left;
	font-size: 12px;
	font-weight: bold;
	padding: 12px;
	line-height: 12px;
	margin: 0;
}
.widget-title .buttons {
	float: right;
	margin: 8px 10px 0 0;
}
.widget-title .label {
	padding: 3px 5px 2px;
	float: right;
	margin: 9px 11px 0 0;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset, 0 1px 0 #ffffff;
}
.widget-calendar .widget-title .label {
	margin-right: 190px;
}
.widget-content {
	padding: 15px;
	border-bottom: 1px solid #cdcdcd;
}
.widget-box.widget-plain .widget-content {
	padding: 12px 0 0;
}
.widget-box.collapsible .collapse.in .widget-content {
	border-bottom: 1px solid #CDCDCD;
}
/*错误页面css*/

.error_ex {
	text-align: center;
}
.error_ex h1 {
	font-size: 140px;
	font-weight: bold;
	padding: 50px 0;
	color: #28B779
}
/*卡片响应式*/

@media (max-width: 480px) {
	.quick-actions_homepage .quick-actions li {
		min-width: 100%;
	}
}
@media (min-width: 768px) and (max-width: 970px) {
	.quick-actions_homepage .quick-actions li {
		min-width: 20.5%;
	}
}
@media (min-width: 481px) and (max-width: 767px) {
	.quick-actions_homepage .quick-actions li {
		min-width: 47%;
	}
}