<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>质检单列表</title>
		<script src="../../../lib/css/loadcssfile.js"></script>
		<link rel="stylesheet" href="../../style/base.css" />
		<link rel="stylesheet" href="../../style/zjgl/zjdlb.css" />
	</head>

	<body ng-app="zjdlbModule" ng-controller="zjdlbCtrl" ng-init="init()">

		<!--查询条件-->
		<div class="query_conditions">
			<ul class="fieldlist">
				<li>
					<label>质检单号：</label>
					<input type="text" class="k-textbox" ng-model="project.qcode" />
				</li>
				<li>
					<label>质检日期：</label>
					<input id="qc_Time" style="width: 120px;" />
				</li>
				<li>
					<label>是否接收：</label>
					<input id="isReceive" value="-2" style="width: 120px;" />
				</li>
				<li>
					<label>质检级别：</label>
					<input id="qualitylevel" value="-2" style="width: 120px;" />
				</li>
				<li>
					<label>供应商：</label>
					<input type="text" class="k-textbox" ng-model="project.supplier" />
				</li>
				<li>
					<label>订单编号：</label>
					<input type="text" class="k-textbox" ng-model="project.ordercode" />
				</li>
				<li>
					<label>质检状态：</label>
					<input id="qualitystatus" value="-2" style="width: 120px;" />
				</li>
				<li>
					<label>备注：</label>
					<input type="text" class="k-textbox" ng-model="project.qc_remark" />
				</li>
				<li>
					<button class="btn btn-info" ng-click="empty(project)">清空</button>
					<button class="btn btn-info" ng-click="search(project)">搜索</button>
				</li>
			</ul>
		</div>

		<!--操作按钮-->
		<div class="operation">
			<button class="btn btn-success" ng-click="pint(project)">打印</button>
			<button class="btn btn-primary" ng-click="upload_file()">上传文件</button>
		</div>

		<!--上传文件-->
		<div id="scwj_window" style="display: none;">
			<ul class="fieldlist">
				<li style="height: 200px;width: 98%;border-bottom: 1px solid #ccc;">
					<label style="float: left; height: 30px; line-height: 30px;">上传文件：</label>
					<div id="container_1" style="float:left;">
						<button type="button" class="btn btn-primary" id="browse" style="margin:0px;margin-right: 20px;">选取文件</button>
						<button type="button" class="btn btn-success" id="upload-btn">上传</button>
					</div>
					<div id="file-list" style="float: left; margin-top: 20px;width: 90%; height: 150px;">
					</div>
				</li>
				<li style="text-align: right;float: right;">
					<button class="btn btn-info" ng-click="scwj_save()">确认</button>
				</li>
			</ul>
		</div>

		<!--质检模版列表-->
		<div id="content">
			<div id="grid"></div>
		</div>

		<!--操作通知-->
		<span id="notification" style="display:none;"></span>

		<!--成功模板-->
		<script id="successTemplate" type="text/x-kendo-template">
			<div class="upload-success">
				<img src="../../../lib/images/notification/success-icon.png" />
				<h3>#= message #</h3>
			</div>
		</script>

		<!--失败模板-->
		<script id="errorTemplate" type="text/x-kendo-template">
			<div class="wrong-pass">
				<img src="../../../lib/images/notification/error-icon.png" />
				<h3>#= title #</h3>
				<p>#= message #</p>
			</div>
		</script>

		<script src="../../../lib/js/loadjsfile.js"></script>
		<script src="../../script/zjgl/zjdlb/print.js" ></script>
		<script src="../../../lib/js/plupload/plupload.full.min.js"></script>
		<script src="../../../lib/js/plupload/moxie.min.js"></script>
		<script src="../../../lib/js/plupload/upload_zjdlb.js"></script>
		<script src="../../modules/zjgl/zjdlb.module.js"></script>
	</body>

</html>